@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');
/* font-family: 'MuseoModerno', cursive; */



/***** estrutura básica *****/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffb97f8f;
    overflow: hidden; /* impedir a rolagem com arrowkeys */
}
#main {
    width: 650px;
    height: 580px;
    border: 1px solid #666666;
    box-shadow: 5px 5px 5px #666666;
    margin: 0 auto;
    margin-top: 5px;
    background-color: #ffffff;
}
header {
    height: 75px;
    text-align: center;
    font-family: 'MuseoModerno', cursive, Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 25px;
    background-color: #ff841d;
    color: #ffffff;
}
section {
    position: relative;
}
footer {
    color: #666666;
    text-align: center;
    margin-top: 30px;
}
footer a {
    text-decoration: none;
    color: #666666;
}



/***** board (vidas, timer, movimentos e button) *****/
#board {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-left: 60px;
    padding-right: 60px;
}
.boardItem {
    height: 50px;
    width: 129px;
    border: 2px solid #1313a791;
    border-radius: 5px;
    background-color: #8282e375;
    z-index: 2;
}
#vidas {
    display: flex;
    flex-direction: row;
}
.vidas {
    content: url('_images/img_vidas.png');
}
#timerBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}
#img_timer {
    content: url('_images/img_timer.png');
}
#movimentos {
    text-align: center;
    padding-top: 13px;
}
button {
    height: 40px;
    width: 100px;
}
.button {
    border: none;
    background-color: #ffffff;
    padding-top: 5px;
    padding-left: 14px;
}



/***** painel de mensagem *****/
#msg {
    width: 420px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
}



/***** display do jogo *****/
#gameDisplay {
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.cell {
    width: 20px;
    height: 20px;
    z-index: 1;
}
.wall {
    background-color: #3e3efa;
}
.road {
    background-color: #ffffff;
}
#user {
    content: url('_images/user_pointer.png');
}


/**** touch board ********/
#touchContainer {
    position: absolute;
    width: 648px;
    height: 400px;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 0;
}
.touchButton {
    background-color: #ffffff56;
    box-shadow: 2px 2px 2px #666666;
    border-radius: 10px;
}
#touchPad {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}
#ArrowUp, #ArrowDown {
    width: 200px;
    height: 66.6px;
}
#ArrowLeft, #ArrowRight {
    width: 100px;
    height: 66.6px;
}

/***** animation *****/
@keyframes slideRight {
    from {margin-left: -5px;}
    to {margin-left: 0;}
}
.slideRight {
    animation-name: slideRight; 
    animation-duration: 100ms;
}

@media screen and (max-width: 480px) {
    #touchContainer {
        z-index: 1;
    }
    .cell {
        z-index: 0;
    }
  }